@{
    var isLoginPage = Context.Request.Path.Value?.Contains("Account/Login") == true ||
                      Context.Request.Path.Value?.Contains("Account/ForgotPassword") == true ||
                      Context.Request.Path.Value?.Contains("Account/ForgotPasswordConfirmation") == true ||
                      Context.Request.Path.Value?.Contains("Account/Register") == true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CormSquareSupportHub</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CormSquareSupportHub.styles.css" asp-append-version="true" />

    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Toastr Notifications -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <style>


        /* Style adjustments */
        .contact-details a {
            text-decoration: none;
        }

        .navbar-brand img {
            height: 40px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Public" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="CormSquareSupportHub Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        @if (!isLoginPage)  // Hide these links on login/register pages
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Public" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link contact-link text-white-50" href="#contact-footer">Contact Us</a>
                            </li>


                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="UserApproval">
                                        <i class="fas fa-users-cog"></i> User Management
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">Product Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Issue" asp-action="Index">MyIssues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Issue" asp-action="IssueList">Manage Issues</a>
                                </li>

                            }
                            @if (User.IsInRole("KM Creator") || User.IsInRole("KM Champion"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Issue" asp-action="Index">MyIssues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Issue" asp-action="IssueList">Manage Issues</a>
                                </li>

                            }
                            @if (User.IsInRole("ExternalUser"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Issue" asp-action="Index">MyIssues</a>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial"></partial>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer id="contact-footer" class="border-top footer bg-primary text-white-50 pb-4">
        <div class="container">
            <!-- Contact Us Title -->
            <div class="row text-center pt-4">
                <div class="col-12">
                    <h5 class="contact-hover">CONTACT US</h5>
                    <div class="company-name-hover">Cormorant Engineering India Private Limited (CormSquare)</div>
                </div>
            </div>

            <!-- Contact Details -->
            <div class="row justify-content-center mt-3">
                <div class="col-md-5 text-end address">
                    <p>
                        No. 683/A, 2nd Floor,<br>
                        100 Ft Ring Road, 15th Cross,<br>
                        JP Nagar 2nd Phase,<br>
                        Bengaluru 560 078
                    </p>
                </div>
                <div class="col-md-5 text-start contact-details">
                    <p><strong>P:</strong> (080) 4165 5407 ; 4204 9707</p>
                    <p>
                        <strong>Support:</strong>
                        <a href="mailto:support@cormsquare.com" class="text-light email-hover">support@cormsquare.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


   @*  <!-- Tiptap Core Dependencies --> *@
   @*  @* <script src="https://cdnjs.cloudflare.com/ajax/libs/prosemirror-view/1.24.0/index.umd.min.js"></script> *@
   @*  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiptap/2.0.0-beta.105/tiptap.umd.min.js"></script> *@
   @*  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> *@
   @*  <script src="https://ajax.aspnetcdn.com/ajax/signalr/2.4.1/jquery.signalR.min.js"></script> *@
   @* @*  <script src="https://cdn.jsdelivr.net/npm/@tiptap/core"></script> *@ 

   @*  <script type="module" defer src="/js/tiptap-editor.js"></script> *@
    <script src="https://cdn.tiny.cloud/1/e7h24elw0i2rjxwduha6o559uql7e57avazebhxgugnkxthc/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
